---
layout: sidebar
title: Blog
description: Follow us for the latest tips on how to take your hobby electronics project to the next level.
navigation:
  order: 4
author: Julian Hartline
---
<h1>Posts</h1>

{% for post in site.posts %}
	{% if post.categories contains 'news' %}
		<h2>{{ post.date | date_to_string }} - <a href="{{ post.url }}">{{ post.title }}</a></h2>
		{{ post.excerpt }}
		<a href="{{ post.url }}">read more..</a>
		<br/>
		<br/>
	{% endif %}
	
	{% if post.categories contains 'blog' %}
		<h2 class="blog">{{ post.date | date_to_string }} - Blog: <a href="{{ post.url }}">{{ post.title }}</a></h2>
		{{ post.excerpt }}
		<a href="{{ post.url }}">read more..</a>
		<br/>
		<br/>
	{% endif %}
{% endfor %}
