<div class="company media" itemscope itemtype="http://schema.org/Corporation">
    <img alt="The Reflowster Logo" class="img" itemprop="image" src="/resources/images/logo.png">
    <div class="bd">
		<span itemprop="name">Reflowster</span>
		
    	{% include contacticons.html %}
		
		<span itemprop="description">Originally a Kickstarter, Reflowster continues to design and build for electronics hobbyists and consumers alike.</span>
	    <link itemprop="url" href="http://reflowster.com">
		</div>
	</div>
</div>
