<div class="footer">
	<div class="container">
		<div class="company media" itemscope itemtype="http://schema.org/Corporation">
		    <img alt="The Reflowster Logo" class="img" itemprop="image" src="/resources/images/logo.png">
		    <div class="bd">
				<span itemprop="name">Reflowster</span>
				<div class="linkicons">
					<a class="iconlink" href="mailto:admin@reflowster.com">
                        <meta itemprop="email" content="admin@reflowster.com">
						<span class="icon_mail_alt"></span>
					</a>
					<a class="iconlink" href="https://www.facebook.com/reflowster" itemprop="sameAs">
						<span class="social_facebook"></span>
					</a>
					<a class="iconlink" href="https://www.twitter.com/Reflowster" itemprop="sameAs">
						<span class="social_twitter"></span>
					</a>
					<a class="iconlink" href="https://www.google.com/maps/place/Millbrae,+CA+94030/@37.6247724,-122.3481851,11z/data=!4m2!3m1!1s0x808f77981150c511:0xf688db83a6b8b0b" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
					    <meta itemprop="streetAddress" content="PO Box 43">
					    <meta itemprop="addressLocality" content="Millbrae">
					    <meta itemprop="addressRegion" content="CA">
					    <meta itemprop="postalCode" content="94030">
						<span class="icon_pin"></span>
					</a>
				</div>
				<span itemprop="description">Originally a Kickstarter, Reflowster continues to design and build for electronics hobbyists and consumers alike.</span>
			    <link itemprop="url" href="http://reflowster.com">
				</div>
			</div>
		</div>
		
		<div class="copyright">
			&copy; {{ site.time | date: "%Y" }} Reflowster, Inc. All Rights Reserved
		</div>
	</div>
</div>
