<header class="pageHeader">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            	<div class="header-logo">
	                <a href="/">
	                    <img alt="Reflowster, the hobbyist's cheap home soldering solution" src="/resources/images/reflowster_logo_text_transparent.svg" />
	                </a>
                </div>
               	<div class="header-nav">
		            {% include navigation.html %}
		            <a href="http://store.reflowster.com/products/reflowster" class="actionbutton">Order Now</a>
	            </div>
            </div>
        </div>
    </div>
</header>