<div class="panel sidebar-panel">
	<span class="tagline_black">Check out my latest Kickstarter!</span>
	<img class="img wide rounded" alt="Flickerstrip, the decorative lightstrip" src="/resources/images/flickerstrip_wide.jpg">
	<span class="tagline">Flickerstrip is the decorative Wi-Fi lightstrip capable of custom patterns!</span>
	<a href="http://flickerstrip.com/countdown?utm_source=reflowster&utm_medium=sidebar&utm_campaign=latestproject" class="actionbutton">Learn More</a>
</div>

<div class="panel sidebar-panel">
	<div class="media">
		<img class="img" alt="Reflowster with no cables and no background" src="/resources/images/reflowster_no_cables_close.png">
		<div class="bd">
			<span class="head">Reflowster</span>
			<span class="tagline">Instantly turn your toaster oven into a reflow soldering station.</span>
		</div>
	</div>
	<a href="http://store.reflowster.com/products/reflowster" class="actionbutton">Order Now</a>
</div>
