<!DOCTYPE html>
<html>
    <head>
	    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} | {{ site.titletagline }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="icon" href="resources/images/reflowster_icon16.png" />

        <link rel="stylesheet" href="/resources/reset.css">
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        
        <!-- Bootstrap -->
        <link rel="stylesheet" href="/resources/bootstrap/css/bootstrap.css">
        <script type="text/javascript" src="/resources/bootstrap/js/bootstrap.min.js"></script>
        
        <link rel="stylesheet" href="/resources/css/syntax.css">
        <link rel="stylesheet" href="/resources/css/global.css">
        
	    {% include analytics.html %}
    </head>
    <body>
    	{% include header.html %}
    	
		<div class="body">
			<div class="container">
			    <div class="row">
			        <div class="col-md-9">
				    	{% include navigation.html %}
			        	{{ content }}
					</div>
			        <div class="col-md-3">
						{% include sidebar.html %}
					</div>
				</div>
			</div>
		</div>

		{% include footer.html %}
    </body>
</html>

