---
layout: empty
---

<div class="splash">
	<div class="text-over">
		Plug in to transform your toaster oven into an automated reflow soldering station.
		<span>No need to break the bank on a commercial reflow oven or hack at high-voltage wiring</span>
		<span class="orderlink">Now available <a href="http://store.reflowster.com/products/reflowster">on our store!</a></span>
	</div>
</div>

<div class="body">
	<div class="container">
	    <div class="row">
	        <div class="col-md-9">
	        	{{ content }}
			</div>
	        <div class="col-md-3">
				{% include sidebar.html %}
			</div>
		</div>
	</div>
</div>
